@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #e9e9e9;
    overflow: hidden;
}

main {
    background-color: white;
}

svg {
    width: 20px;
    height: 20px;
}

a:link , a:visited {
    color: inherit;
    text-decoration: inherit;
}

nav {
    background-color: #3f3f3f;
    width: 63px;
    position: absolute;
    left: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    transition: ease all 0.1s;
}

header {
    background-color: #e9e9e9;
    left: 63px;
    right: 0px;
    top: 0px;
    height: 121px;
    position: absolute;
    overflow: hidden;
}

main {
    left: 63px;
    right: 0px;
    
    bottom: 0px;
    top: 121px;
    
    padding: 25px;
    
    position: absolute;
    overflow: auto;
}

nav {
    color: white;
}

nav a:link, a:visited , nav label  {
    color: #9d9d9d;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    line-height: 43px;
}


nav label span {
    font-weight: bold;
    font-size: 20px;
}

font a span {
    font-size: 14px;
}

nav span {
    display: inline-block;
    color: transparent;
}


nav span {
    margin-left: 10px;
}

nav label {
    cursor: pointer;
    display: block;
    line-height: 83px;
}

:checked + nav span {
    color: inherit;
}



:checked + nav {
    width: 257px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.75);
}

:checked + nav label {
    color: white;
}


:checked + nav a {
    color: #9d9d9d;
}

:checked + nav a[current='true']  {
    color: white;
}

nav a[current='true']  {
    background-color: #4a4a4a;
}


nav a ,
nav label {
    padding-left: 22px;
}

nav label:before ,
nav a:before {
    display: inline-block;
}

nav label:before {
    content: '☰';
    color: white;
}

nav a[current=false] svg {
    fill: #9d9d9d;
}

nav a[current=true] svg {
    fill: #ffffff;
}

header {
   padding-left: 36px;
   padding-right: 35px;
}

header > div:first-child{
    font-size: 24px;
    line-height: 75px;
    font-weight: bold;
    letter-spacing: 1px;
}

header > div:last-child {
    font-size: 15px;
    line-height: 45px;
     
}


header > div > a:link ,
header > div > a:visited {
    border-bottom: solid 5px transparent;
    line-height: 40px;
    display: inline-block;
    padding-right: 30px;
    color: #8e8e8e;
    padding-left: 5px;
}


header > div > a[current=true] {
    border-bottom-color: #3236a6;
    color: black;
}


main a:link , main a:visited {
    display: block;
    color: blue;
    text-decoration: underline;
}



header select {
    font-family: inherit;
    font-size: inherit;
    display: inline-block;
    background-color: transparent;
    border: none;
    line-height: 40px;
    border-bottom: solid 5px transparent;
    padding-right: 30px;
    color: #8e8e8e;
    padding-left: 5px;
}



header option {
    color: black;
}

header option:first-child {
    color: #8e8e8e;
}


header select:invalid {
    color: purple;
}


body > img {
    width: calc((100% - 300px) / 2);
    left: calc(300px + ((100% - 300px) / 4));
    position: absolute;
    top: 10%;
    filter: grayscale(100%);
    opacity: 0.4;
}

input[type=checkbox] {
    display: none;
    
}



